
/*iframeContent*/
.iframeContent{
    width: 784px;
    /*min-height: 1781px;*/
    background-color: #F1F1F1;
}
.contact{
    text-align: center;
    margin: 50px;
}
.contact a{
    display: inline-block;
}
.contact a img{
    width: 150px;
}